<div class="container">
  <div class="t">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="col-lg-12">
    <form #userPost="ngForm" (ngSubmit)="onSumit(userPost.value)">
      <div class="form-group mb-2">
        <input type="text" name='orderInput' ngModel class="form-control mr-2 col-lg-8">
        <br>
        <button type="submit" class="btn btn-outline-success">Register Order</button>
      </div>
    </form>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Input</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.input}}</td>
          <td>{{order.output}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>